{% extends 'tasks/base.html' %}

{% block title %} Tasks List {% endblock %}

{% block content %}
<h1>Tasks</h1>
<div class="row">
    {% for task in tasks %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.content|truncatewords:20 }}</p>
                <a href="{% url 'task_details' pk=task.pk %}" class="btn btn-info">Read More</a>&nbsp&nbsp&nbsp
                <a href="{% url 'task_update' pk=task.pk %}" class="btn btn-primary">Update</a>&nbsp&nbsp&nbsp
                <a href="{% url 'task_delete' pk=task.pk %}" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                Posted by {{ task.user }} on {{ task.created_at }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}